.form_container {
    
    width: 500px;
    height: 600px;
    padding: 50px;
    /* margin: 0 auto; */
 
    /* background-image: url("abstract-364.png");
            background-repeat: no-repeat; */

}

form {

    text-align: left;
font-size: 14px;
}

input {
    margin-bottom: 20px;
}

.font_light {
    color: rgb(122, 122, 122);
}

input {
    text-align: left;
    width: 500px;
    height: 35px;
    border: 0.5px solid rgb(194, 193, 193);
    border-radius: 3px;
    background-color: white;
    padding: 5px;
}

input:focus {
    outline: none;
}

label {

    font-weight: 100;
}

input.invalid {
   border-color: rgb(175, 3, 3);
}

/* Hide all steps by default: */
.tab {
    display: none;
}

/* Make circles that indicate the steps of the form: */
.step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    justify-content: flex-end;
    opacity: 0.5;
}

/* Mark the active step: */
.step.active {
    opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
    background-color: #04AA6D;
}

#prevBtn {
    padding: 10px;
    border: none;
    border-radius: 3px;
    background-color: #cccccc;
    color: white;
}

#nextBtn {
    padding: 10px;
    border: none;
    border-radius: 3px;
    background-color: #04AA6D;
    color: white;
}

.forgot_password a {
    color: rgb(131, 130, 130);
    text-decoration: none;

}

.forgot_password {
    text-align: right;
}

.forgot_password a:hover {
    color: #04AA6D;
}

.submit {
    padding: 10px;
    border: none;
    border-radius: 3px;
    background-color: #04AA6D;
    color: white;
    width: 500px;
    height: 35px;
}