body{
    background-color: white;
    font-family: 'Work Sans', sans-serif;
}

.nav {
   
    box-shadow: 1px 8px 8px rgb(241, 241, 241);
   
}
h1{

    text-align: center;
    padding: 50px;
}
.faq_grid{
    display: grid;
    grid-template-columns:  auto auto auto;
    list-style: none;
    column-gap: 20px;
    row-gap: 20px;
    justify-content: center;
}

.faq_grid li{
    background-color: #F5F5F5;
    width: 370px;
    height: 170px;
    border-radius: 10px;
}

.card_container{
    background-color: #F5F5F5;
    width: 1150px;
    height: 100px;
    justify-content: center;
    margin: auto;
    margin-bottom: 50px;
    margin-top: 70px;
    border-radius: 20px;

}

.card_container ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    text-align: right;
  }

  .card_container ul li{
    text-decoration: none;
 margin: 30px;
  }

  .card_container ul li a {
      text-decoration: none;
      width: 70px;
        height: 30px;
        background: green;
     width: 100px;
        border-radius: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 4px;
        color: white;
        cursor: pointer;
        font-size: 12px;
       
  }
 

  .font_light{
    color: rgb(122, 122, 122);
    text-align: left;
  }

  .text_left h3{
    text-align: left;
  }

  .text_left h3 {
      text-align: left;
  }