*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    
}
body{
    min-height: 100vh;
    margin: 0;
        padding: 0;
        display: flex;
            flex-direction: column;
}
.main {
    flex-grow: 1;
}
html {
    scroll-behavior: smooth;

}
h2{
    text-align: center;
   
}
h3{
    text-align: center;
}
nav{
    width:100%;
    display:flex;
    flex-direction: column;
    /* position:fixed; */
position: fixed;
  
}
.nav_not_fixed{
    position: static !important;
}

body{
    font-family: 'Work Sans', sans-serif;
    background-color: #F5F5F5;
    
}
.nav{
    width:100%;
    height:65px;
    background: white;
    display:flex;
    justify-content:space-between;
    align-content:center;
    box-shadow: 1px 5px 8px rgb(218, 216, 216);
    margin-bottom:10px;
    white-space: nowrap;
top: 0;
}
#dropdown {
    float: left;
    overflow: hidden;
}
.dropdown-content {
 display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown-content a:hover{
background-color: rgb(230, 230, 230);
color: #04AA6D;
}
/* Show the dropdown menu on hover */
#dropdown:hover .dropdown-content {
    display: block;
}
.page_links{
    text-decoration: none;
}
.page_links:hover{
    color: green;
}

.logo{
    height: 65px;
    display:flex;
    justify-content:flex-start;
    align-items: center;

}

.nav_center{
    width:33.3%;
    display:flex;
    align-items: center;
justify-content: center;
    
}

.nav_right{
    width:10%;
}

.logo_container{
    width:70px;
    height:40px;
    background: grey;
    margin:60px;
}

.nav_center ul{
    display:flex;
    list-style: none;
    justify-content:space-between;
    align-items: center;
    column-gap: 1px;
    text-transform: capitalize;
}

.nav_center ul li{
    margin:20px;
}

.nav_right{
    display:flex;
    justify-content:flex-end;
    align-items: center;
}

.register_button{
    width:70px;
    height:30px;
    background: green;
    margin:16px;
    border-radius: 8;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    color: white;
    cursor:pointer;
    
}

.register_button a{
    text-decoration: none;
    color: white;
    font-size: 12px;
}
.register_button:hover{
    background: rgba(0, 128, 0, 0.916);
}

.nav_center ul li a{
    text-decoration: none;
    color:black;
    font-weight:500;
}

.sub_nav{
    width:100%;
    height:45px;
    display:flex;
    align-items:center;
    z-index:10000000px;
background-color: rgb(230, 230, 230);
  position: fixed;
  margin-top: 65px;
  border-bottom: 1px solid #e3e3e3;
  
}

.sub_nav ul{
    display:flex;
    list-style: none;
align-items: center;
white-space: nowrap;
}

.sub_nav ul li{
    margin:26px;
    text-transform: capitalize;
    
}

.sub_nav a{
    text-decoration: none;
    color: black;

}

.sub_nav a:hover{
    color: green;
}


.image_container{
    width:100%;
    height:450px;
    background-image: url("home_page_image.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
        margin-top: 15.3px;
        margin-bottom: -100px;
    }

img{
    width:45px;
    cursor:pointer;
    transition:.4s;
   

}

img:hover{
    transform: rotate(-90deg);
    transition:.4s;
}


/* .something{
    width:100%;
    height:500px;
    background: green;
} */


/* #about_us{
    
/* padding-top: 80px; */
    
 
#contact_us {
    height: 500px;
    text-align: justify;
    margin: 0 auto;
    background-color: white;
    background-image: url("milad-fakurian-GJKx5lhwU3M-unsplash.jpg");
    background-repeat: no-repeat;
    background-position: center;
        background-size: cover;
       padding-top: 60px;
        margin-bottom: -50px;
    
}
#contact_us img{
    width: 30px;
    height: 30px;
}
#mission_container{
        padding-top: 150px;
      margin-bottom: -100px;
        
}
#vision_container{
        padding-top: 150px;
        margin-bottom: -50px;
}
.contact_flex{
display: grid;
    grid-template-columns: auto auto;
    column-gap: 50px;
    row-gap: 20px;
    width: 350px;
    text-align: left;
    justify-content: center;
    margin: 0 auto;
    margin-top: 50px;
}
.contact_flex img{
    padding: 0;
    margin: 0;
}
#jobs {
    height: 500px;
   text-align: center;
   
}
.grid_container{
    display: grid;
 grid-template-columns: auto auto;
    column-gap: 20px;
    width: 1100px;
    justify-content: center;
    margin: 0 auto;
    margin-top: 50px;
}

.joinus_card_container{
    background-color: #ffffff;
        width: 500px;
        height: 150px;
        justify-content: center;
        margin: auto;
      
        margin-top: 20px;
        border-radius: 20px;
}

.card{
   
        height: 50px;
        width: 500px;
        white-space: wrap;
        justify-content: center;
        margin: auto;
       
        margin-top: 20px;
       display: flex;
        text-align: justify;
}
.card img{
    width: 2rem;
    height: 2rem;
   margin-right: 1rem;
   cursor: default;
}
.card img:hover{
    transform: none;
        transition: none;
}
.card_flex{
    margin-top: 50px;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    text-align: justify;
}

.card_flex h1{
    font-size: 50px;
}
.green_link{
    color: #04AA6D;
    text-decoration: none;
}
footer {
    margin-top: 10rem;
    margin-bottom: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #111;
    height: auto;
    width: 100%;
    padding-top: 40px;
    color: #fff;
}
.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3 {
    font-size: 2.1rem;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p {
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
    color: #cacdd2;
}
.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.socials li {
    margin: 0 10px;
}

.socials a {
    text-decoration: none;
    color: #fff;
    border: 1.1px solid white;
    padding: 5px;
    border-radius: 50%;
}

.socials a i {
    font-size: 1.1rem;
    width: 20px;
    transition: color .4s ease;
}

.socials a:hover i {
    color: aqua;
}
.footer-bottom {
    background: #000;
    width: 100%;
    padding: 20px;
    padding-bottom: 40px;
    text-align: center;
}
.footer-bottom p {
    float: left;
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}

.footer-bottom p a {
    color: #44bae8;
    font-size: 16px;
    text-decoration: none;
}

.footer-bottom span {
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}
.footer-menu {
    float: right;
}

.footer-menu ul {
    display: flex;
}

.footer-menu ul li {
    padding-right: 10px;
    display: block;
}

.footer-menu ul li a {
    color: #cfd2d6;
    text-decoration: none;
}

.footer-menu ul li a:hover {
    color: #27bcda;
}
@media (max-width:500px) {
    .footer-menu ul {
        display: flex;
        margin-top: 10px;
        margin-bottom: 20px;
    }
}